<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div class="container mt-5">
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
            {% csrf_token %}

            <h1 style="text-align: center;"><span style="color: rgb(53, 53, 53);">OrainAuth</span></h1>
            <h3>Register</h3>
            <hr>

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% for error in field.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}

            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-group">
                <label for="id_first_name">First name</label>
                <input type="text" class="form-control" id="id_first_name" name="first_name"
                    value="{{ form.first_name.value|default:'' }}" placeholder="Enter First name" required>
            </div>

            <div class="form-group">
                <label for="id_last_name">Last name</label>
                <input type="text" class="form-control" id="id_last_name" name="last_name"
                    value="{{ form.last_name.value|default:'' }}" placeholder="Enter Last name" required>
            </div>

            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" class="form-control" id="id_username" name="username"
                    value="{{ form.username.value|default:'' }}" placeholder="Enter Username" required>
            </div>

            <div class="form-group">
                <label for="id_email">Email</label>
                <input type="email" class="form-control" id="id_email" name="email"
                    value="{{ form.email.value|default:'' }}" placeholder="Enter Email" required>
            </div>

            <div class="form-group">
                <label for="id_password1">Password</label>
                <input type="password" class="form-control" id="id_password1" name="password1"
                    placeholder="password" required>
            </div>

            <div class="form-group">
                <label for="id_password2">Confirm password</label>
                <input type="password" class="form-control" id="id_password2" name="password2"
                    placeholder="confirm password" required>
            </div>

            <p>Already have an account <a href="{% url 'login' %}">Login</a></p>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
