<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <!-- Password Reset Form -->
        <form class="col-6 mx-auto card p-4 shadow-lg" method="post">
            {% csrf_token %}

            <h1 style="text-align: center;"><span style="color: rgb(53, 53, 53);">OrainAuth</span></h1>
            <hr>
            <h3>Forgot Password</h3>
            <p class="text-muted">Enter your email address below, and we'll email instructions for setting a new one.</p>

            <div class="form-group">
                {{ form.as_p }}
            </div>
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}

            <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>

            <div class="mt-3 text-center">
                <a href="{% url 'login' %}">Back to Login</a>
            </div>
        </form>
    </div>
</body>
</html>
