<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <!-- New Password Form -->
        <form class="col-6 mx-auto card p-4 shadow-lg" method="post">
            <h1 style="text-align: center;"><span style="color: rgb(53, 53, 53);">OrainAuth</span></h1>
            <hr>
            <h3>Set New Password</h3>
            <p class="text-muted">Please enter your new password below.</p>

            {% csrf_token %}

            <div class="form-group">
                {{ form.as_p }}
            </div>

            <button type="submit" class="btn btn-primary btn-block">Update Password</button>
        </form>
    </div>
</body>
</html>
