<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div class="container mt-5">
        <!-- Registration form -->
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}  <!-- CSRF token for security -->

            <!-- Registration form heading -->
            <h1 style="text-align: center;"><span style="color: rgb(53, 53, 53);">OrainAuth</span></h1>
            <h3>Register</h3>
            <hr>

            <!-- Display error/success messages -->
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            <!-- First Name input field -->
            <div class="form-group">
                <label for="FirstName">First name</label>
                <input type="text" class="form-control" id="first_name" aria-describedby="first_name"
                    placeholder="Enter First name" name="first_name" required>
            </div>

            <!-- Last Name input field -->
            <div class="form-group">
                <label for="LastName">Last name</label>
                <input type="text" name="last_name" class="form-control" id="last_name"
                    aria-describedby="last_name" placeholder="Enter Last name" required>
            </div>

            <!-- Username input field -->
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" class="form-control" name="username" id="username"
                    aria-describedby="username" placeholder="Enter Username" required>
            </div>
            

            <!-- Email input field -->
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" name="email" id="email"
                    aria-describedby="email" placeholder="Enter Email" required>
            </div>

            <!-- Password input field -->
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" name="password" id="password"
                    placeholder="password" required>
            </div>

            <!-- Link to login page for users who already have an account -->
            <p>Already have an account <a href="{% url 'login' %}">Login</a> </p>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>